html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.hero__banner {
  width: 100%;
  position: relative;
}
.hero__h2-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__position {
  position: absolute;
  right: 20px;
  top: 110px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero__position {
    position: absolute;
    right: 130px;
    top: 250px;
    line-height: 1.3;
  }
}
.hero__header-h2 {
  font-size: 14px;
  background-color: #535C91;
  color: #F0F0F0;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .hero__header-h2 {
    font-size: 30px;
    background-color: #535C91;
    color: #F0F0F0;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline-block;
  }
}
.hero__header-h1 {
  font-size: 30px;
  color: #F0F0F0;
  font-weight: 900;
  text-align: right;
}
@media screen and (min-width: 1200px) {
  .hero__header-h1 {
    font-size: 75px;
    color: #F0F0F0;
    font-weight: 900;
  }
}
.hero__date {
  font-size: 14px;
  font-weight: 500;
  background-color: #1B1A55;
  color: #FFFFFF;
  display: inline-block;
  padding: 6px 10px;
}
@media screen and (min-width: 1200px) {
  .hero__date {
    font-size: 30px;
    font-weight: 700;
    background-color: #1B1A55;
    color: #FFFFFF;
    display: inline-block;
    padding: 6px 10px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 7px;
}
@media screen and (min-width: 1200px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
  }
}
.hero__logo {
  width: 50px;
}
@media screen and (min-width: 1200px) {
  .hero__logo {
    width: 100px;
    margin-top: 10px;
  }
}
.hero__image-logo {
  width: 100%;
}
.hero__bottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero__button-position {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: inline-block;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
    left: 0;
    top: 60px;
  }
}
.header__menu-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__menu-position {
    justify-content: flex-end;
  }
}
.header__logo-position {
  position: absolute;
  width: 150px;
  top: 20px;
  right: 20px;
}
@media screen and (min-width: 1200px) {
  .header__logo-position {
    top: 18px;
    left: 130px;
    width: 230px;
  }
}
.header__logo {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-right: 130px;
  }
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: flex !important;
  }
}
.menu__link {
  display: block;
  font-size: 14px;
  padding: 13px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .menu__link {
    font-size: 18px;
    padding: 25px;
  }
}
.menu__link:hover {
  color: white;
  background-color: #CD104D;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.flags {
  position: absolute;
  right: 9999px;
}
@media screen and (min-width: 1200px) {
  .flags {
    position: absolute;
    top: 20px;
    right: 130px;
    display: flex;
    gap: 10px;
  }
}

.visegrad-section {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: left;
  font-style: italic;
  margin: 15px 0;
}
@media screen and (min-width: 1200px) {
  .visegrad-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 130px 30px;
    font-size: 16px;
    gap: 35px;
  }
}
.visegrad-section__content {
  padding: 0 30px 0 30px;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .visegrad-section__content {
    flex-basis: 85%;
    padding: 0;
  }
}
.visegrad-section__content--narrow {
  padding: 0 40px;
}
.visegrad-section__content span {
  color: #CD104D;
}
.visegrad-section__content span:hover {
  font-weight: 600;
}
.visegrad-section__logo {
  width: 115px;
}
@media screen and (min-width: 1200px) {
  .visegrad-section__logo {
    flex-basis: 15%;
  }
}
.visegrad-section__logo-img {
  width: 100%;
}

.project-info {
  padding: 0 40px 20px 40px;
  margin-top: 40px;
  text-align: left;
  line-height: 1.5;
}
@media screen and (min-width: 1100px) {
  .project-info {
    padding: 30px 150px;
    margin-top: 0px;
  }
}

.project-info__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .project-info__item {
    margin-bottom: 40px;
  }
}

.heading-primary {
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .heading-primary {
    font-size: 40px;
    font-weight: 700;
    padding: 60px 130px;
  }
}
.heading-primary::after {
  content: "";
  display: block;
  height: 30px;
  background: url(/images/bodky.svg) no-repeat top left/auto 10px, url(/images/bodky.svg) no-repeat bottom right/auto 10px, linear-gradient(to top, transparent, transparent 49%, black 49%, black 51%, transparent 51%, transparent);
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .heading-primary::after {
    height: 43px;
    background: url(/images/bodky.svg) no-repeat top left/auto 15px, url(/images/bodky.svg) no-repeat bottom right/auto 15px, linear-gradient(to top, transparent, transparent 49%, black 49%, black 51%, transparent 51%, transparent);
  }
}

.about-us {
  margin: 0;
  text-align: justify;
}
.about-us__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .about-us__img {
    padding: 0 220px;
    height: 520px;
    margin: 15px 0 15px 0;
  }
}
.about-us__logo {
  width: 140px;
  margin: 10px auto 25px auto;
}
@media screen and (min-width: 1200px) {
  .about-us__logo {
    width: 200px;
    margin: 40px auto 80px auto;
  }
}
.about-us__logo-img {
  width: 100%;
}
.about-us__position p {
  padding: 15px 30px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .about-us__position p {
    padding: 15px 330px;
  }
}
.about-us__sentence-center {
  text-align: center;
}

.artists__align {
  padding: 0 30px 0 30px;
}
@media screen and (min-width: 1200px) {
  .artists__align {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 130px 0 130px;
  }
}

.card {
  width: 100%;
  background-color: #FFFFFF;
  border: 0.7px solid rgb(233, 230, 230);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}
@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
.card:hover {
  background-color: rgba(83, 92, 145, 0.3);
}
.card__foto {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .card__content {
    align-items: center;
    gap: 12px;
    text-align: center;
  }
}
.card__header {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .card__header {
    font-size: 20px;
  }
}
.card__content-size {
  font-size: 14px;
}
.card__img {
  max-width: 80%;
  border-radius: 70%;
}
@media screen and (min-width: 1200px) {
  .card__img {
    max-width: 90%;
  }
}
.card .card__logo {
  position: absolute;
  bottom: -10px;
  right: 10px;
  width: 90px;
  height: 90px;
}
@media screen and (min-width: 1200px) {
  .card .card__logo {
    right: 0px;
    bottom: -15px;
    width: 80px;
    height: 80px;
  }
}
.card__svg {
  width: 100%;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.button {
  display: block;
  position: relative;
}
.button__link {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  background-color: #CD104D;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .button__link {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
.button__link:hover {
  background-color: rgb(178, 20, 70);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}
.button__link--light {
  background-color: rgb(242, 240, 240);
  color: #000000;
}
.button__link--light:hover {
  background-color: #CD104D;
  color: #FFFFFF;
}
.button__link--icon {
  font-size: 14px;
  padding: 5px 15px 5px 40px;
}
@media screen and (min-width: 1200px) {
  .button__link--icon {
    font-size: 20px;
    padding: 8px 20px 8px 48px;
  }
}
.button-icon-size {
  width: 12px;
}
@media screen and (min-width: 1200px) {
  .button-icon-size {
    width: 14px;
  }
}
.button__icon {
  width: 100%;
  position: relative;
  left: 17px;
  bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .button__icon {
    font-size: 20px;
    left: 22px;
    bottom: 29px;
  }
}

.button-archive {
  display: flex;
  justify-content: center;
  margin: 0 0 35px 0;
}
.button-archive__link {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  background-color: #CD104D;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .button-archive__link {
    margin: 20px 0 0 0;
    font-size: 18px;
  }
}
.button-archive__link:hover {
  background-color: rgb(178, 20, 70);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

.partners__content {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .partners__content {
    padding: 0 170px 0 170px;
  }
}
.partners__align {
  padding: 0 30px 0 30px;
}
@media screen and (min-width: 1200px) {
  .partners__align {
    padding: 0 130px 0 130px;
  }
}
.partners__content {
  margin-top: 0;
}
.partners__logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 14px;
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .partners__logo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px;
    justify-items: center;
  }
}
.partners__logo {
  display: flex;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-content: center;
  align-items: center;
}
.partners__logo--hu {
  padding: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .partners__logo--hu {
    padding: 18px;
    margin: 0;
  }
}
.partners__logo--sk-pl {
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .partners__logo--sk-pl {
    padding: 25px;
  }
}
.partners__logo-center {
  margin: 32px auto 32px auto;
  width: 160px;
}
@media screen and (min-width: 1200px) {
  .partners__logo-center {
    width: 230px;
    margin: 60px auto 60px auto;
  }
}
.partners__contacts {
  padding: 0 30px 0 30px;
}
@media screen and (min-width: 1200px) {
  .partners__contacts {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 20px 150px;
    border-top: 0.5px solid #000000;
  }
}
.partners__contact-section {
  padding: 10px;
}
@media screen and (min-width: 1200px) {
  .partners__contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.partners__contact-section--border {
  border-bottom: 0.5px solid #000000;
  border-top: 0.5px solid #000000;
}
@media screen and (min-width: 1200px) {
  .partners__contact-section--border {
    border: none;
  }
}
.partners__header-h2 {
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .partners__header-h2 {
    font-size: 22px;
  }
}
.partners__icon-size {
  width: 45px;
  margin: 20px auto 20px auto;
}
.partners__contacts-icon {
  max-width: 100%;
}
.partners__form-align {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 1200px) {
  .partners__form-align {
    width: 290px;
    gap: 8px;
  }
}
.partners__contact-section--margin {
  margin-bottom: 30px;
}
.partners__email-center {
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 1200px) {
  .partners__email-center {
    margin: 0;
  }
}

.footer {
  background-color: #070F2B;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
  padding: 25px;
}
@media screen and (min-width: 1200px) {
  .footer {
    font-size: 12px;
    padding: 35px;
  }
}

.archive__episode {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 10px 30px 45px 30px;
}
@media screen and (min-width: 1200px) {
  .archive__episode {
    padding: 35px 280px;
  }
}
.archive__episode:hover {
  background-color: rgba(83, 92, 145, 0.3);
}
.archive__picture {
  flex-basis: 45%;
}
.archive__picture:hover .archive-button {
  display: inline-block;
  position: absolute;
  background-color: #CD104D;
  padding: 10px 14px 25px 14px;
  border-radius: 40%;
  left: 10px;
  bottom: 12px;
  width: 50px;
  height: 18px;
}
@media screen and (min-width: 1200px) {
  .archive__picture:hover .archive-button {
    display: inline-block;
    position: absolute;
    background-color: #CD104D;
    padding: 14px 14px 14px 17px;
    border-radius: 40%;
    left: 20px;
    bottom: 17px;
    width: 65px;
    height: 45px;
  }
}
.archive__picture:hover .archive-button__icon {
  width: 60%;
}
@media screen and (min-width: 1200px) {
  .archive__picture:hover .archive-button__icon {
    width: 50%;
  }
}
.archive__picture:hover .archive-button__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .archive__picture:hover .archive-button__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.archive__content {
  flex-basis: 55%;
}
.archive__img {
  width: 100%;
}
.archive__header {
  font-size: 17px;
  font-weight: 700;
  color: black;
}
@media screen and (min-width: 1200px) {
  .archive__header {
    font-size: 20px;
  }
}
.archive__date {
  font-weight: 700;
}
.archive__markdown {
  line-height: 1.4;
  margin: 15px 0;
}
.archive__position {
  position: relative;
}
.archive__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: 900;
}

.archive-button {
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 14px 25px 14px;
  border-radius: 40%;
  left: 10px;
  bottom: 12px;
  width: 50px;
  height: 18px;
}
@media screen and (min-width: 1200px) {
  .archive-button {
    display: inline-block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 14px 14px 14px 17px;
    border-radius: 40%;
    left: 20px;
    bottom: 17px;
    width: 65px;
    height: 45px;
  }
}
.archive-button__icon {
  width: 60%;
}
@media screen and (min-width: 1200px) {
  .archive-button__icon {
    width: 50%;
  }
}
.archive-button__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .archive-button__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */