    <!-- Tady je hlavní banner -->

    <div class="hero__banner">
        <picture>
            <source media="(min-width: 1200px)" srcset="/images/Walks_1440x825.jpg">
            <source media="(max-width: 450px)" srcset="/images/Walks_1024x768.jpg">
            <img class="hero__image" src="/images/Walks_1024x768.jpg" alt="St Elizabeth Church">
        </picture>
    </div>

    <!-- Konec hlavního banneru -->