<div class="flags">
    <a href="/cz/#home"><img class="flags__image-flag-cz" src="/images/czech republic.svg" alt="flag of Czech Republic"></a>
    <a href="/sk/#home"><img class="flags__image-flag-sk" src="/images/slovakia.svg" alt="flag of Slovak Republic"></a>
    <a href="/pl/#home"><img class="flags__image-flag-pl" src="/images/poland.svg" alt="flag of Poland"></a>
    <!-- <a href="/hu/#home"><img class="flags__image-flag-hu" src="/images/hungary.svg" alt="flag of Hungary"></a> -->
    <a href="/#home"><img class="flags__image-flag-en" src="/images/united kingdom.svg" alt="flag of England"></a>
</div>