    <!-- Tady je menu -->

    <header class="header">

        <div class="header__logo-position">
            <img class="header__logo" src="/images/kvarteto_logo.svg" alt="logo of Kvarteto">
        </div>
    
        <div class="header__menu-position">
            <nav class="menu">
                <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    
                <label for="menu-checkbox" class="menu__toggler">☰</label>
    
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="/hu/#home">Domov</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#about">O nás</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#creators">Tvorcovia</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#archive">Archív</a></li>
                    <li class="menu__item"><a class="menu__link" href="/hu/#contact">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Tady je konec menu -->