---
layout: layouts/main-template.njk
---

<!-- Tady je hlavička -->

<section class="hero" id="home">

    {% include "partials/hero-image.njk" %}

    {% include "partials/hero-content.njk" %}

    {% include "partials/hero-menu.njk" %}

    {% include "partials/hero-flags.njk" %}

</section>

<!-- Tady je konec hlavičky -->


<!-- Tady je hlavní obsah -->

<h1 class="heading-primary" id="archive">Archive</h1>

<div class="archive__episode">
    <div class="archive__picture">
        <img class="archive__img" src="/images/{{ foto }}" alt="{{ alt }}">
    </div>
    <div class="archive__content">
        <div class="archive__header">{{ title }}</div>
        <div class="archive__perex">{{ perex }}</div>
        <div class="archive__date">{{ datum }} | RTVS 2</div>
    </div>
</div>

<!-- Tady je konec hlavního obsahu -->


<!-- Tady je patička -->

{% include "partials/footer.njk" %}

<!-- Konec patičky -->
