---
layout: layouts/main-template
language: cs
---

<!-- Tady je hlavička -->

<section class="hero" id="home">

    {% for hero in collections.czhero | reverse | limit(1) %}

    <div>
        <div class="hero__banner">
            <picture>
                <source media="(min-width: 1200px)" srcset="/images/uploads/{{ hero.data.foto1440 }}">
                <source media="(max-width: 450px)" srcset="/images/uploads/{{ hero.data.foto1024 }}">
                <img class="hero__image" src="/images/uploads/{{ hero.data.foto1024 }}" alt="{{ hero.data.alt }}">
            </picture>
        </div>

        <div class="hero__position">
            <div class="hero__content">
                <div class="hero__h2-left">
                    <div class="hero__header-h2">{{ hero.data.header }}</div>
                </div>
                <div class="hero__header-h1">{{ hero.data.title }}</div>
                <div class="hero__date">{{ hero.data.datum }} | {{ hero.data.tv }}</div>
                <div class="hero__logo">
                    <img class="hero__image-logo" src="/images/{{ hero.data.logo }}" alt="logo of {{ hero.data.tv }}">
                </div>
            </div>
            <div class="hero__button-position">
                <nav class="button">
                    <a class="button__link  button__link--icon" href="{{ hero.data.link }}">{{ hero.data.cta }}</a>
                    <div class="button-icon-size">
                        <img class="button__icon" src="/images/play_icon_plna.svg" alt="play icon">
                    </div>
                </nav>
            </div>
        </div>
    </div>

    {% endfor %}

    {% include "partials/cz-hero-menu.njk" %}

    {% include "partials/hero-flags.njk" %}

</section>

<!-- Tady je konec hlavičky -->


<!-- Tady je hlavní obsah -->

{{ content | safe }}

<!-- Tady je konec hlavního obsahu -->


<!-- Tady je patička -->

{% include "partials/footer.njk" %}

<!-- Konec patičky -->