

<div class="hero__content">
    <div class="hero__h2-left">
        <div class="hero__header-h2">Latest episode</div>
    </div>
    <div class="hero__header-h1">Unusual walks</div>
    <div class="hero__date">25. 5. 2024 | RTVS: 2</div>
    <div class="hero__logo">
        <img class="hero__image-logo" src="/images/logo_DVOJKA_biele.svg" alt="logo of RTVS:2">
    </div>
</div>